---

- hosts: all
  sudo: yes
  vars:
    lxc_bridge_address: 10.0.40.1/24
    lxc_dnsmasq_dhcp_range: 10.0.40.2,10.0.40.100,12h
    lxc_dnsmasq_host_record: lxchost.lxc,10.0.40.1

  roles:
  - role: jpic.pacman
    pacman_mirrors:
    - http://arch.yourlabs.org/
    pacman_repositories:
    - name: yourlabs
      url: http://arch.yourlabs.org/$repo/os/$arch

  - role: jpic.iptables
    iptables_filter_ports:
    - port: 22
    iptables_nat_rules:
    - -A POSTROUTING -s {{ lxc_bridge_address }} -j MASQUERADE
    iptables_mangle_rules:
    - -A POSTROUTING -s {{ lxc_bridge_address }} -p udp -m udp --dport 67 -j CHECKSUM --checksum-fill
    iptables_filter_rules:
    - -A FORWARD -i {{ lxc_bridge_interface }} -j ACCEPT
    - -A FORWARD -o {{ lxc_bridge_interface }} -j ACCEPT
    - -A INPUT -i {{ lxc_bridge_interface }} -j ACCEPT
    sudo: yes

  - role: .
    sudo: yes
