---

- pacman: name=debootstrap,debian-archive-keyring,gnupg1 state=installed
  sudo: yes
  when: lxc_debian_guests

- pacman: name=netctl,dnsmasq,polkit,lxc,bridge-utils,arch-install-scripts state=installed
  sudo: yes
