[Unit]
Description=A lightweight DHCP and caching DNS server
After=network.target
Documentation=man:dnsmasq(8)

[Service]
Type=dbus
BusName=uk.org.thekelleys.dnsmasq
ExecStartPre=/usr/bin/dnsmasq --test -C {{ lxc_dnsmasq_config_path }}
ExecStart=/usr/bin/dnsmasq -k -C {{ lxc_dnsmasq_config_path }} --enable-dbus --user=dnsmasq --pid-file
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Alias=dbus-uk.org.thekelleys.dnsmasq
